<body class="">
  <!-- main header -->
  <div id="page_content">
    <div id="page_content_inner">
      
      <!-- beginning of form -->
      <%= form_tag guides_path, method: :get do %>
        <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-3-5 uk-container-center">

          <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-2-10">
              <img src="http://images.usa-4u.de/Bilder/Shop_Fotos/Nutricia/header/Nutricia_logo.jpg" class="uk-thumbnail"/>
            </div>
            <div class="uk-width-medium-7-10">
              <h4 class="text-muted uk-margin-small-top uk-margin-bottom-remove">Nutricia</h4> 
              <h1 class="uk-text-muted uk-margin-remove">
                Payor Wizard
              </h1>
            </div>
          </div>

          <br/>

          <div class="md-card">
            <div class="md-card-content">
              
              <!-- search field -->
              <div class="uk-grid" data-uk-grid-margin="">

                <!-- payer state -->
                <div class="uk-width-medium-2-10">
                  <%= select_tag :state, options_for_select(states), id:"product_search_status", class: "data-md-selectize" %>
                </div>
               <!-- end payer state -->


                <!-- payer Name -->
                <div class="uk-width-medium-2-10">
                  <%= select_tag :payer_name, options_for_select(payer_names), class: "data-md-selectize" %>
                </div>
                <!-- end payer Name -->

                <!-- Products -->
                <div class="uk-width-medium-3-10">
                 <%= select_tag :name, options_for_select(products), class: "data-md-selectize" %>
                </div>
                <!-- end Products -->

                <!-- Submit Button -->
                <div class="uk-width-medium-3-10 uk-text-center">
                  <%= submit_tag "Filter Results", class: "md-btn md-btn-block md-btn-primary uk-margin-small-top"%>
                </div>
                <!-- Submit Button -->
              </div>
              <!-- end search field -->

            </div>
          </div>
        </div>
        </div>

        <!-- output table and search results -->
        <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-3-5 uk-container-center">
          <div class="md-card">
            <div class="md-card-content">
              <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                  <div class="uk-overflow-container">
                    <table class="uk-table uk-table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Product</th>
                          <th>Product Name</th>
                          <th>Payer State</th>
                          <th>Payer Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @guides.each_with_index do |guide, i| %>
                          <tr>
                            <td><span class="heading_c"><%= i + 1 %></span></td>
                            <td>
                              <img class="md-user-image dense-image dense-loading" src="http://www.wellnesssolutionsinc.com/Enteral%20Supplements/images/enteral_0090_png.jpg" height="30"alt="">
                            </td>
                            <td class="uk-text-large uk-text-nowrap">
                              <span class="heading_c"><a href="#"><%= guide.name %></a></span>
                            </td>
                            <td class="uk-text-nowrap">
                              <span class="heading_c"><%= guide.state %></span>
                            </td>
                            <td>
                              <span class="heading_c"><%= guide.payer_name %></span>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <ul class="uk-pagination uk-margin-medium-top uk-margin-medium-bottom">
                    <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                    <li class="uk-active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><span>&hellip;</span></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- end output table and search results -->

      <% end %>
      <!-- end of form -->

    </div>
  </div>

