<!-- beginning of form -->
<%= form_tag guides_path, method: :get do %>
  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-large-3-5 uk-width-small-10-10 uk-container-center">

      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-2-10">
            <%= link_to root_path do %>
          <img src="http://images.usa-4u.de/Bilder/Shop_Fotos/Nutricia/header/Nutricia_logo.jpg" class="uk-thumbnail"/>
          <% end %>
        </div>
        
        <div class="uk-width-medium-8-10">
          <h4 class="text-muted uk-margin-small-top uk-margin-bottom-remove">Nutricia</h4> 
          <h1 class="uk-text-muted uk-margin-remove">
            Payor Wizard
          </h1>
        </div>
      </div>

      <hr/>
     
      <div class="text-right uk-clearfix">

        <%= link_to guides_path(format: "xls") do %>
          <span class="md-btn uk-float-left uk-margin-top uk-margin-right">Download Excel</span>
        <% end %>
        

        <%= link_to spreadsheets_path, class: "md-btn uk-float-left uk-margin-top" do %>
          Upload Reimbursement Data
          <i class="material-icons uk-margin-small-left">&#xE89D;</i>
        <% end %>

      </div>

      <br/>

      <div class="md-card">
        <div class="md-card-content">
          
          <!-- search field -->
          <div class="uk-grid" data-uk-grid-margin="">

            <!-- payer state -->
            <div class="uk-width-medium-2-10">
              <%= select_tag :state, options_for_select(states, (params[:state] if params[:state].present?)), {class: "data-md-selectize", prompt: "Select State"} %>
            </div>
           <!-- end payer state -->

            <!-- payer Name -->
            <div class="uk-width-medium-2-10">
              <%= select_tag :payer, options_for_select(payer_names, (params[:payer] if params[:payer].present?)), {class: "data-md-selectize", prompt: "Select Payer"} %>
            </div>
            <!-- end payer Name -->

            <!-- Products -->
            <div class="uk-width-medium-3-10">
             <%= select_tag :name, options_for_select(products, (params[:name] if params[:name].present?)), {class: "data-md-selectize", prompt: "Select Nutricia Product"} %>
            </div>
            <!-- end Products -->

            <!-- Submit Button -->
            <div class="uk-width-medium-3-10 uk-text-center">
              <%= submit_tag "Search", class: "md-btn md-btn-block md-btn-primary uk-margin-small-top"%>
            </div>
            <!-- Submit Button -->

          </div>
          <!-- end search field -->

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- end of form -->