<% @guides.pluck(:payer).uniq.each do |payer| %>
  <br>
  <h2><%= payer %></h2>

  <table border="1" border-color="#0000ff">
      <tr bgcolor="#99ddff">
        
          <th>Name</th>
          <th>State</th>
          <th>Payer</th>
          <th>Contact</th>
          <th>Phone Number</th>
          <th>Fax Number</th>
          <th>Published Policies</th>
          <th>Policy Name</th>
          <th>Policy Link</th>
          <th>Product Codes Covered</th>
          <th>Approved Diagnoses</th>
          <th>Approved Diagnoses Codes</th>
          <th>Age Limitations</th>
          <th>Other Limitations</th>
          <th>State Mandate Apply</th>
          <th>Major Medical Benefit</th>
          <th>RX Benefit</th>
          <th>PA Required</th>
          <th>PA Form Required</th>
          <th>PA Link</th>
          <th>PA Process</th>
          <th>Coverage Notes</th>
          <th>Accepted billing codes</th>
          <th>BO modifier</th>
          <th>Is S9433</th>
          <th>Coding Link</th>
          <th>Nutricia Formulary Products</th>
          <th>Open or closed formulary</th>
          <th>Formulary exception allowed</th>
          <th>Formulary Form Required</th>
          <th>Formulary Link</th>
          <th>Formulary Documentation Required</th>
          <th>Formulary Process</th>
          <th>Reimbursement Fee Schedule</th>
          <th>Reimbursement Link</th>
          <th>Product Reimbursement Rate</th>
          <th>Reimbursement Methodology</th>
          <th>Reimbursement Fees</th>
          <th>Other Notes</th>
          <th>Relationship to WIC</th>
          <th>Relationship to State Medicaid</th>     
          <th>Relationship to Other Programs</th>                 
      </tr>
      <% Guide.where(payer: payer).each do |guide| %>
      <tr>
       
          <td><%= guide.name %></td>
          <td><%= guide.state %></td>
          <td><%= guide.payer %></td>
          <td><%= guide.contact %></td>
          <td><%= guide.phone_number %></td>
          <td><%= guide.fax_number %></td>
          <td><%= guide.published_policies? ? "Yes" : (guide.published_policies == false ? "No" : "")  %></td>
          <td><%= guide.policy_name %></td>
          <td><%= guide.policy_link %></td>
          <td><%= guide.product_codes_covered %></td>
          <td><%= guide.approved_diagnoses %></td>
          <td><%= guide.approved_diagnoses_codes %></td>
          <td><%= guide.age_limitations %></td>
          <td><%= guide.state_mandate_apply? ? "Yes" : (guide.state_mandate_apply == false ? "No" : "")  %></td>
          <td><%= guide.major_medical_benefit? ? "Yes" : (guide.major_medical_benefit == false ? "No" : "")  %></td>
          <td><%= guide.rx_benefit? ? "Yes" : (guide.rx_benefit == false ? "No" : "")  %></td>
          <td><%= guide.pa_required? ? "Yes" : (guide.pa_required == false ? "No" : "")  %></td>
          <td><%= guide.pa_form_required? ? "Yes" : (guide.pa_form_required == false ? "No" : "")  %></td>
          <td><%= guide.pa_link %></td>
          <td><%= guide.pa_process %></td>
          <td><%= guide.coverage_notes %></td>
          <td><%= guide.accepted_billing_codes %></td>
          <td><%= guide.bo_modifier? ? "Yes" : (guide.bo_modifier == false ? "No" : "")  %></td>
          <td><%= guide.is_s9433? ? "Yes" : (guide.is_s9433 == false ? "No" : "")  %></td>
          <td><%= guide.coding_link %></td>
          <td><%= guide.nutricia_formulary_products %></td>
          <td><%= guide.open_or_closed_formulary %></td>
          <td><%= guide.formulary_exception_allowed? ? "Yes" : (guide.formulary_exception_allowed == false ? "No" : "")  %></td>
          <td><%= guide.formulary_form_required? ? "Yes" : (guide.formulary_form_required == false ? "No" : "")  %></td>
          <td><%= guide.formulary_link %></td>
          <td><%= guide.formulary_documentation_required? ? "Yes" : (guide.formulary_documentation_required == false ? "No" : "")  %></td>
          <td><%= guide.formulary_process %></td>
          <td><%= guide.reimbursement_fee_schedule? ? "Yes" : (guide.reimbursement_fee_schedule == false ? "No" : "")  %></td>
          <td><%= guide.reimbursement_link  %></td>
          <td><%= guide.product_reimbursement_rate  %></td>
          <td><%= guide.reimbursement_fees  %></td>
          <td><%= guide.other_notes %></td>
          <td><%= guide.relationship_to_wic  %></td>
          <td><%= guide.relationship_to_state_medicaid  %></td>
          <td><%= guide.relationship_to_other_programs  %></td>
          
      </tr>
      <% end %>
  </table>
<% end %>












