<div class="" id="upload-error-header" style="display: block">
</div>
<ul><% (0..15).to_a.each do |i| %><div id="error-<%= i %>"></div><% end %></ul>
<div class="" id="upload-success" style="display: block">
</div>
      
      
      <%= form_tag import_spreadsheets_path, id: "upload-form", multipart: true, :remote => true do %>
	  
	  <%= select_tag :state, options_for_select([ "California", "Team", "Club", "League" ], "California"), id: "object-field" %><br>
         <%= file_field_tag :file, id: "file-field" %>
   
	    <%= submit_tag "Import",class: "btn btn-success btn", disabled: false, id: "file-submit" %>
	  <% end %>
      <%= link_to "Return to Homepage", root_path %>
      
	  
	  
